# macos Files managments clutter
.DS_Store

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Dataset
doodle/

# Ignore AI/ML model files
*.pkl
*.pickle
*.h5
*.pt
*.pth
*.ckpt
*.onnx
*.pb
*.tflite
*.sav
*.model

